@page "/fetchdata"
@using SqwareBase.Business.Model
@inject HttpClient Http

<h1>Widgets</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (widgets == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var widget in widgets)
            {
                <tr>
                    <td>@widget.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WidgetResource[] widgets;

    protected override async Task OnInitializedAsync()
    {
        widgets = await Http.GetFromJsonAsync<WidgetResource[]>("api/widgets");
    }

}
